/* style apply for all content  */
*{
    box-sizing: border box;
    padding : 0;
    margin: 0;
    outline: none;
}

/* Body style  */
body{
    font-family: sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    background-color: rgb(8, 9, 9);
    display:flex;
    justify-content: center;
    align-items: center;
}
/* circle design  */
.outerCircle{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items:center;
}
.innerCircle{
    width:230px;
    height: 230px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items:center;
}
    
.text{
    color: white;
    font-size: 34px;
}

.button-wrapper{
    width: 250px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: black;
    font-weight: bold;
    color: white;
    cursor: pointer;
    
}
.button:hover {
    background-color: white;
    color: black;
}
.laps{
    list-style: none;
    color:white;
    height: 250px;
    overflow: auto;
    position: relative;  
    padding: 30px 0; 
   
}
.laps::-webkit-scrollbar{
    display: none;
}
.lap-item{
    display: block;
    width: 230px;
    padding: 15px;
    text-align: center;
    border: 1px solid rgb(87, 83, 83);
    border-radius: 50px;
    margin-bottom: 10px;  
}
.number{
    color: white;
    font-size:large;
}
.time-stamp{
    display:inline-block;
    margin-left: 25px;
    font-size:large;
}

.lapClearButton{
    display: block;
    position: fixed;
    z-index: 1000;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
    width: 130px;
    padding: 10px 0;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid white;
    color: white;
    font-size: 20px;
    
 
}
.lapClearButton:hover{
    background-color: black;
    color: white;
}
.hidden{
    visibility: hidden;
}
